.booking-item img {
     max-width: 100px;
     height: auto;
 }

 .quantity-input {
     width: 50px;
 }

 .booking-summary {
     background-color: #f8f9fa;
     border-radius: 10px;
 }

 .booking-item hr {
     margin-top: 10px;
     height: 2px;
     background-color: #000000;
     border: none;
 }